name: Download XCFramework from KMP-COMMON

on:
  repository_dispatch:
    types: [download_xcframework]

permissions:
  contents: write

jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure Git user
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Download XCFramework from KMP-COMMON release
        env:
          VERSION: ${{ github.event.client_payload.version }}
          GH_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          echo "Downloading MindboxCommon.xcframework.zip for version $VERSION"
          curl -L -o MindboxCommon.xcframework.zip "https://github.com/vailence/kmp-common-sdk/releases/download/$VERSION/MindboxCommon.xcframework.zip"
          echo "Unzipping..."
          unzip -o MindboxCommon.xcframework.zip -d ./MindboxCommon.xcframework

      - name: Make script executable
        run: chmod +x .github/update_common_podspec_version.sh

      - name: Update version in MindboxCommon.podspec
        env:
          VERSION: ${{ github.event.client_payload.version }}
        run: .github/update_common_podspec_version.sh "$VERSION"

      - name: Commit, push, and tag XCFramework
        env:
          VERSION: ${{ github.event.client_payload.version }}
        run: |
          rm -rf MindboxCommon.xcframework
          unzip -o MindboxCommon.xcframework.zip -d ./MindboxCommon.xcframework

          git add MindboxCommon.xcframework
          git commit -m "Update XCFramework to version $VERSION" || echo "No XCFramework changes"
          git push

          echo "Creating and pushing tag $VERSION"
          git tag "$VERSION" || echo "Tag $VERSION already exists"
          git push origin "$VERSION"
